*{
	margin: 0;
	padding: 0;
}
body{
}
.head{
	background: purple;
	height: 70px;
	width: 100%;
	padding-bottom: 10px;
	position: relative;
}
.head a{
	display: inline-block;
	color: white;
	text-decoration-line: none;
	margin: 0 5px 0 5px;
	z-index: 1;
}
#logo1{
	height: 40px;
	margin-left: 80px;
	position: absolute;
	top: 30px;
}
#logo2{
	overflow: hidden;
	margin-left: 20px;
	position: absolute;
	left: 930px;
	top: 46px;
}
#index_href{
	position: relative;
	right: 200px;
}