*{
	margin: 0;
	padding: 0;
}
.cont{
	width: 300px;
	height: 300px;
	box-sizing: border-box;
	position: relative;
}
.cont div{
	width: 100px;
	height: 100px;
	background-color: rgba(0,0,255,1);
	font-size: 5em;
	font-weight: bold;
	color: white;
	text-align: center;
	vertical-align: center;
	position: absolute;
}
#d1{
	left: 0;
	top: 0;
}
#d2{
	left: 100px;
	top: 0;
}
#d3{
	left: 200px;
	top: 0;
}
#d4{
	left: 0;
	top: 100px;
}
#d5{
	left: 100px;
	top: 100px;
}
#d6{
	left: 200px;
	top: 100px;
}
#d7{
	left: 0;
	top: 200px;
}
#d8{
	left: 100px;
	top: 200px;
}
button{
	background-color: rgba(120,100,150,1);
	width: 100px;
	height: 30px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
}
.big{
	display: flex;
}
.but{
	width: 150px;
}
.time{
}